<p id="notice"><%= notice %></p>

<p>
  <div class="field"
  <b>Name:</b>
  <%= @profile.name %>
</div>
</p>

<p>
  <b>location:</b>
  <%= @profile.location.name %>
</p>

<p>
  <b>Role:</b>
  <%= @profile.role.name %>
</p>

<p>
  <b>Email:</b>
  <%=@profile.email %>
</p>

<p>
 
  <%= image_tag @profile.picture %>
</p>





<%= link_to 'Back', profiles_path %>
