<p id="notice"><%= notice %></p>
<div class="index_table">
  <p>
 
  <b>Name:</b>
  <%= @profile.name %>

</p>

<p>
  <b>location:</b>
  <%= @profile.location.name %>
</p>

<p>
  <b>Role:</b>
  <%= @profile.role.name %>
</p>

<p>
  <b>Email:</b>
  <%=@profile.email %>
</p>

<p>
 
  <%= image_tag @profile.picture %>
</p>

<% if student? %>

<% end %>

</div>

<%= link_to 'Back', profiles_path %>
