<%= form_for(@cohort) do |f| %>
  <% if @cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% @cohort.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% if admin? %>
  <div class="field">
     <%= f.label :location_id %><br />
    <%= f.collection_select :location_id, Location.all, :id, :name %>

  </div>
  <% end %>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.collection_select :course_id, Course.all, :id, :name %>
  </div>
 <div class="field">
    <%= f.label :status_id %><br />
    <%= f.collection_select :status_id, Status.where(thing: "cohort"), :id, :statusname %>
  </div>
  <div>

<b> Select the lead instructor </b></br>
<% Profile.where(role_id:3).each do |profile| %>
<%= radio_button_tag("cohort[profile_ids][]", profile.id, @cohort.profiles.include?(profile),id: "cohort_profiles_ids_#{profile.id}") %>
<%= label_tag(:profile, profile.name) %>
<% end %>
</div>

<div>
<b> Select the Teaching assistants </b>
   
  <% Profile.where(role_id: 4).each do |profile| %>
    <%=profile.name %>
    <%= check_box_tag 'cohort[profile_ids][]', profile.id, @cohort.profiles.include?(profile), id: "cohort_profiles_ids_#{profile.id}" %>
<% end %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
