
<% if producer? || admin? || instructor? || teaching_assistant? %>
<h2>List of cohorts</h2>
<% end %>
<% if student? %>
<h2> Available courses <h2>
<% end %>
<div class="index_table">
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start date</th>
    <th>End date</th>

    <th>Course</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @cohorts.each do |cohort| %>
  <tr>
    <td><%= cohort.name %></td>
    <td><%= cohort.location.name %></td>
    <td><%= cohort.start_date %></td>
    <td><%= cohort.end_date %></td>
    <td><%= cohort.course.name %></td>
    <td><%= cohort.status.statusname %></td>
    
    <td><%= link_to 'Take a look !', cohort %></td>
  
     <% if admin? || producer? %>
    <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
    <%end%>
    <% if admin? %>
    <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end %>
  </tr>
<% end %>
</table>
</div>
<br />
<% if producer? %>
<%= link_to 'Add a new course', new_cohort_path %>
<% end %>
