<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cohort.name %>
</p>

<p>
  <b>Location:</b>
  <%= @cohort.location.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @cohort.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @cohort.end_date %>
</p>

<p>
  <b>Course:</b>
  <%= @cohort.course.name %>
</p>

<p>
  <b>Status:</b>
  <%= @cohort.status.statusname %>
</p>

<b>Enroll !</b>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Timerquired</th>
    <th>Cohort</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutorials.each do |tutorial| %>
  <tr>
    <td><%= tutorial.name %></td>
    <td><%= tutorial.status_id %></td>
    <td><%= tutorial.timerquired %></td>
    <td><%= tutorial.cohort_id %></td>
    <td><%= tutorial.subject %></td>
    <td><%= link_to 'Show', tutorial %></td>
    <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
    <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% if producer? %>

Lead instructor 
<%= @profile.first.name %>
</br>

Teaching Assistants
<% @tas.each do |ta| %>
  <p>  <%= ta.name %> </p>
<% end %>
<br />
Students
<% @students.each do |student| %>
  <p>  <%= student.name %> </p>
<% end %>

<%end%>


<%= link_to 'Enrol', enroll_cohort_path(@cohort)%>
<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>

