<p id="notice"><%= notice %></p>
<div class = "index_table">
<p>
  <b>Name:</b>
  <%= @cohort.name %>
</p>

<p>
  <b>Location:</b>
  <%= @cohort.location.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @cohort.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @cohort.end_date %>
</p>
<% if admin? || producer? || instructor? %>
<p>
  <b>Course:</b>
  <%= @cohort.course.name %>
</p>

<p>
  <b>Status:</b>
  <%= @cohort.status.statusname %>
</p>
<% end %>

<% if producer? || admin? || instructor? || teaching_assistant? %>
<table>
  <tr>
    <th>Name</th>
    <% if admin? || producer? || instructor? %>
 
    <th>Duration</th>
   
    <% end %>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
Classes:
<% @tutorials.each do |tutorial| %>
  <tr>
    <td><%= tutorial.name %></td>
    <% if producer? || instructor? || teaching_assistant?%>
 
    <td><%= tutorial.timerquired %></td>
  
    <td><%= tutorial.subject %></td>
    <td><%= link_to 'Show', tutorial %></td>
    <% if producer? %>
    <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
    <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<h5> Lead instructor :</h5>
<%= @profile.first.name %>
</br>

<h5>Teaching Assistants:</h5>
<% @tas.each do |ta| %>
   <%= ta.name %> 
<% end %>
<br />

Students: 
<% @students.each do |student| %>
  <%= student.name %> 
<% end %>
<br />
<% end %>

<% if student? %>
<%= link_to 'Enrol', enroll_cohort_path(@cohort)%>
<br />
<% end %>
<% if producer? || admin? %>
<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<% end %>
<br />
</div>
</br>
<%= link_to '<< Back', cohorts_path %>

