<h1>List classrooms</h1>
<%= link_to 'Add a new classroom', new_classroom_path %>
<br />
<div class="index_table_classroom">
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Projector</th>
    <th>Tables</th>
    <th>Chairs</th>
    <th>Chillout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @classrooms.each do |classroom| %>
  <tr>
    <td><%= classroom.name %></td>
    <td><%= classroom.location.name %></td>
    <td><%= classroom.projector %></td>
    <td><%= classroom.tables %></td>
    <td><%= classroom.chairs %></td>
    <td><%= classroom.chillout %></td>
    <td><%= link_to 'Show', classroom %></td>
    <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
    <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />


