<p id="notice"><%= notice %></p>

<p>
  <div class = "field">
   <span class="title">Name:</span>
  <%= @classroom.name %>
</div>
</p>

<p>
    <div class = "field">
  <b>Location:</b>
  <%= @classroom.location.name %>
</div>
</p>

<p>
    <div class = "field">
  <span class="title">Projector:</span>
  <%= @classroom.projector %>
</div>
</p>

<p>
<div class = "field">
  <span class="title">Number of tables:</span>
  <%= @classroom.tables %>
    </div>
</p>

<p>
  <div class = "field">
  <b>Number of chairs:</b>
  <%= @classroom.chairs %>
</div>
</p>

<p>
  <div class = "field">
  <b>Chillout space:</b>
  <%= @classroom.chillout %>
</div>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to '<< Back', classrooms_path %>
