<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lesson.name %>
</p>

<p>
  <b>Subject:</b>
  <%= @lesson.subject %>
</p>

<p>
  <b>Timerequired:</b>
  <%= @lesson.timerequired %>
</p>

<p>
  <b>Status:</b>
  <%= @lesson.status.statusname %>
</p>




<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
