<tr>
    <td><%= lesson.name %></td>
    <td><%= lesson.subject %></td>
    <td><%= lesson.timerequired %></td>
    <td><%= lesson.status.statusname %></td>
    <td><%= link_to 'Show', lesson %></td>
</tr>
