<tr>
    <td><%= lesson.name %></td>
    <td><%= lesson.subject %></td>
    <td><%= lesson.timerequired %></td>
    <td><%= lesson.status.statusname %></td>
      <%= check_box_tag, lesson.id, lesson.id %>
      
    
</tr>