<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Outcome:</b>
  <%= @course.outcome %>
</p>

<p>
  <b>Status:</b>
  <%= @course.status.statusname %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>


<table>
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Timerequired</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%=render @lessons %>
</table>
