<!DOCTYPE html>
<html>
<head>
  <title>GaSchedulerv3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="banner">
    <%=image_tag('GA-Logo.png')%> <h1>SCHEDULER</h1>
  </header>
</div>
<%if current_user then %>
  <div class="menu">
    <nav>
        <ul>
            
            <%=link_to 'Home', root_path %>
            <% if admin? %>
            <%=link_to 'All GA Courses', cohorts_path %>
            <%=link_to 'Courses', courses_path %>
            <%=link_to 'Lessons', lessons_path %>
            <%=link_to 'All cohorts', cohorts_path %>
             <%=link_to 'All tutorials', cohorts_path %>
            <%=link_to 'All staff', profiles_path %>
            <% end %>
            <% if producer? %>
            <%=link_to 'Courses', courses_path %>
            <%=link_to 'Your cohorts', cohorts_path %>
            <%=link_to 'Your staff', profiles_path %>
            <% end %>
            <%if admin?  %>
             <%=link_to 'Status', statuses_path %>
              <%=link_to 'Roles', roles_path %>
              <%=link_to 'Classrooms', classrooms_path %>
              <%=link_to 'Locations', locations_path %>
            <% end %>
            <% if student? %>
            <%=link_to 'All courses', cohorts_path %>
           
            <% end %>
            <% if instructor? || teaching_assistant? %>
             <%=link_to 'Your courses', cohorts_path %>
             <% end %>


        </ul>

      </nav>
    </div>
<% end %>
<% if current_user %>
       <p class="welcome_board"><b> Hello, <%= current_user.name %> </b>
       <%=link_to "Edit profile", my_profile_path %>
     
       <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: "Are you sure?"} %></p>
      <% else %>
      <br/>
      <%= link_to 'Please sign up', signup_path %> <br />
       <%= link_to 'Please login', login_path %>
      <% end %>

  
<%= yield %>

</body>
</html>
