<!DOCTYPE html>
<html>
<head>
  <title>GaSchedulerv3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
        <ul>
          <li>
            <%=link_to 'courses', courses_path %>
          </li>
       
         
        </ul>

      </nav>
    </header>

<% if current_user %>
       <p> hello, <%= current_user.email %> </p>
       <%=link_to "Edit profile", my_profile_path %>
     
       <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: "Are you sure?"} %>
      <% else %>
      <%= link_to 'Please sign up', signup_path %> <br />
       <%= link_to 'Please login', login_path %>
      <% end %>

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
<%= yield %>

</body>
</html>
